@import "mixins"
.main
  width: 100%
.how-work
  background: linear-gradient(180deg, #FFF, rgba(163, 163, 163, 0.3))
  &__offer
    font-size: 50px
  &__under-offer
    display: block
    text-align: center
    font-size: 30px
    margin: 10px 0
  &__number
    font-size: 211px
    font-weight: bold
  &__number-offer
    display: block
    font-size: 25px
    margin-bottom: 8px
  &__number-text
    display: block
    font-size: 17px
  &__video
    width: 100%
    height: calc(50vw / 1.7)
  &__under-video
    display: block
    width: 83.333333%
    margin: 20px auto
    font-size: 18px
  &__form-offer
    display: block
    text-align: center
    font-size: 40px
    margin-top: 40px
  &__form-under-offer
    display: block
    font-size: 18px
    text-align: center
    margin: 10px 0 65px
.big-slider
  -webkit-box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.31)
  -moz-box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.31)
  box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.31)
.catalog
  padding: 88px 0
  &__offer
    padding-bottom: 70px
  &__item
    display: block
    text-align: center
  &__item-img
    width: 100%
  &__item-name
    font-size: 25px
    font-weight: 300
    margin-top: 18px
  &__item-fprice
    font-size: 10px
    font-weight: 200
    margin: 5px 0
  &__item-rprice
    font-size: 20px
    font-weight: 300
  &__item-button
    display: block
    padding: 9px 50px
    margin: 10px auto 60px
    font-size: 20px
    border: #707070 solid 1px
    -webkit-border-radius: 30px
    -moz-border-radius: 30px
    border-radius: 30px