@media (max-width: 576px)
  .how-work
    &__under-offer
      font-size: 20px
    &__number
      display: block
      text-align: center
      font-size: 150px
    &__video
      margin-top: 50px
      height: calc(100vw / 1.7)
    &__under-video
      font-size: 12px
      width: 100%
    &__form-offer
      font-size: 30px